<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% block content %}
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <div class="d-flex d-block flex-row mx-auto mx-0">
          <a href="#" class="navbar-brand text-light">Minesweeper</a>
        </div>
    </nav>
    <!-- Content -->
    <div class="container">
        <!-- Status Bar -->
        <nav class="nav nav-pills nav-fill mt-3 bg-success">
            <div class="nav-item">
                <i class="fa fa-flag fa-3x text-danger"></i>
                <h2 id="num_of_flags_remaining" class="d-inline pl-4">{{ num_of_flags }}</h2>
            </div>
            <div class="nav-item">
                <i class="fa fa-clock-o fa-3x text-warning"></i>
                <h2 id="timer" class="d-inline pl-3">00:00</h2>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark h3 text-capitalize" data-toggle="dropdown">{{ difficulty }}</a>
                <div class="dropdown-menu">
                    <form method="post">
                        <button class="btn dropdown-item" type="submit" name="difficulty" value="easy">Easy</button>
                        <button class="btn dropdown-item" type="submit" name="difficulty" value="medium">Medium</button>
                        <button class="btn dropdown-item" type="submit" name="difficulty" value="hard">Hard</button>
                    </form>
                </div>
          </div>
        </nav>
        <!-- Game Display -->
        <div class="container border mt-3 mx-0">
                {% for row in rows %}
                    <div class="row flex-nowrap d-flex justify-content-center">
                    {% for column in columns %}
                        <button class="btn btn-success square-button border d-inline" onmousedown="WhichButton(event,this.name,this.value,this.id)" name="start_game" id="{{ row }},{{ column }}" value="{{ row }} {{ column }}"></button>
                    {%  endfor %}
                    </div>
                {%  endfor %}
        </div>
    </div>
    <!-- Game over Modal -->
    <div id="game-over-modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Game Over</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Try again?</p>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" onClick="new_game(this.name, this.value)" name="new_game" value="new_game">Yes</button>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}
    <script src="/static/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>